@import 'tailwindcss';

@theme {
  --font-display: 'Red Hat Display', 'sans-serif';

  --breakpoint-xs: 25em;

  --color-primary-gradient-start: #45278b;
  --color-text-primary-inverse: #45278b;
  --color-primary-gradient-end: #2e335a;
  --color-white: #fff;
  --color-text-secondary: rgba(235, 235, 245, 0.6);
  --color-textQuaternary: rgba(235, 235, 245, 0.18); /* Change name as not used for text */
  --color-bg-alert: #1f1d47;
  --color-bg-input: #1f1d47;
  --color-focus: #e0d9ff;
  --color-card-gradient-start: #5936b4;
  --color-bg-current: #362a84;
  --color-card-gradient-end: #362a84;
  --color-bg-hourly-daily: rgba(72, 49, 157, 0.2);
  --color-border-hourly-daily: rgba(255, 255, 255, 0.2);
}
